<div class="comments-container">
  <h2 class="comments-container__header">Write a comment</h2>
  <comment-form
    *ngIf="isAuthenticated"
    [hasCancelButton]="false"
    (handleSubmit)="onAddComment({text: $event.text, parentCommentId: undefined, formData: $event.formData})"
  ></comment-form>

  <div class="comments-container__sorting">
    <p>Sort comments</p>
    <div class="comments-container__sorting">
      <select (change)="onSort()" [(ngModel)]="sortingValue">
        <option
          *ngFor="let opt of sortingOptions"
          [value]="opt"
        >
          {{opt}}
        </option>
      </select>
      <select (change)="onChangeSortingOrder()" [(ngModel)]="sortingOrder">
        <option
          *ngFor="let opt of sortingOrderOptions"
          [value]="opt"
        >
          {{opt}}
        </option>
      </select>
    </div>

  </div>

  <div
    *ngIf="!comments"
    class="comments-container__empty"
  >
    <p>No comments yet</p>
  </div>

  <div
    class="comments-container__item"
    *ngFor="let comment of comments"
  >
    <comment-item
      [comment]="comment"
      [currentComment]="currentComment"
      (setCurrentComment)="onSetCurrentComment($event)"
      (addComment)="onAddComment($event)"
      (updateComment)="onUpdateComment($event)"
      (deleteComment)="onDeleteComment($event)"
    ></comment-item>
  </div>

  <paging-wrapper
    *ngIf="commentsLoaded"
    [page]="pagedList.currentPage"
    [pageSize]="pagedList.pageSize"
    [totalPages]="pagedList.totalPages"
  ></paging-wrapper>
</div>
