@import 'variables';

.comments-container{
  padding: 3rem;

  &__sorting{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > p{
      font-size: $font-size-default;
      margin-bottom: 1rem;
    }

    & > select{
      font-size: $font-size-default;
      padding: .5rem;
      margin-bottom: 1rem;
    }

    & option{
      padding: .5rem;
    }
  }
}
