@import 'variables';

.comment-container{
  font-size: $font-size-default;
  margin: 3rem 0;

  &__heading{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: $color-grey-light;

    &-image{
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
    }

    &-user-name{
      font-weight: 600;
      margin-right: 1rem;
      color: $color-blue;
    }

    &-sorting{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;

      &-image{
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &__actions{
    display: flex;
    justify-content: flex-end;

    &-action{
      padding: 1rem;
      font-size: $font-size-default;
      cursor: pointer;
      border: none;

      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }

  &__attachment{
    padding: 1rem 0;

    &-btn{
      border: none;
      padding: 1rem;
      cursor: pointer;
      font-size: $font-size-default;
    }
  }
}

.reply-container{
  margin-left: 3rem;
}

.blue{
  background-color: $color-blue;
  color: $color-white;
}

.blue-dark{
  background-color: $color-blue-dark;
  color: $color-white;
}
