<div class="comment-container">
  <div class="comment-container__heading">
    <svg class="comment-container__heading-image">
      <use xlink:href="../../assets/svg/sprite.svg#user"></use>
    </svg>
    <p class="comment-container__heading-user-name">{{comment.userName}}</p>
    <p class="comment-container__heading-date">{{comment.createdAt | date: 'dd.MM.YY'}} at {{comment.createdAt | date: 'hh:mm a'}}</p>
  </div>

  <div class="comment-container__body">
    <p class="comment-container__body-text" [innerHTML]="comment.text"></p>
  </div>

  <div
    *ngIf="comment.hasAttachment"
    class="comment-container__attachment"
  >
    <button
      class="comment-container__attachment-btn"
    >
      Show attachment
    </button>
    <!-- <img
      src="https://gamestorestorage.blob.core.windows.net/comments/{{comment.id}}"
      onerror="src=''"> -->
  </div>

  <div class="comment-container__actions">
    <button
      *ngIf="canReply && isAuthenticated"
      class="comment-container__actions-action"
      (click)="onSetCurrentComment({id: comment.id, type: currentCommentType.reply})"
    >
      Reply
    </button>
    <button
      *ngIf="canEdit && isAuthenticated"
      class="comment-container__actions-action"
      (click)="onSetCurrentComment({id: comment.id, type: currentCommentType.edit})"
    >
      Edit
    </button>
    <button
      *ngIf="canDelete && isAuthenticated"
      class="comment-container__actions-action"
    >
      Delete
    </button>
  </div>

  <comment-form
    *ngIf="isReply()"
    [hasCancelButton]="true"
    (handleSubmit)="onAddComment($event.text, null)"
    (handleCancel)="onCancelComment()"
  >
  </comment-form>

  <div class="reply-container">
    <comment-item
      *ngFor="let reply of comment.replies"
      [comment]="reply"
      [currentComment]="currentComment"
      (setCurrentComment)="onSetCurrentComment($event)"
      (addComment)="addComment.emit($event)"
    >
    </comment-item>
  </div>
</div>


