<div class="comment-container">
  <div class="comment-container__heading">
    <svg class="comment-container__heading-image">
      <use xlink:href="../../assets/svg/sprite.svg#user"></use>
    </svg>
    <p class="comment-container__heading-user-name">{{comment.userName}}</p>
    <p class="comment-container__heading-date">{{comment.createdAt | date: 'dd.MM.YY'}} at {{comment.createdAt | date: 'hh:mm a'}}</p>
  </div>

  <div class="comment-container__body">
    <p class="comment-container__body-text" [innerHTML]="comment.text"></p>
  </div>

  <div
    *ngIf="comment.hasAttachment"
    class="comment-container__attachment"
  >
    <button
      class="comment-container__attachment-btn"
      (click)="onShowAttachment()"
    >
      Download attachment
    </button>
  </div>

  <div class="comment-container__actions">
    <button
      *ngIf="canReply && isAuthenticated"
      class="comment-container__actions-action blue"
      (click)="onSetCurrentComment({id: comment.id, type: currentCommentType.reply})"
    >
      Reply
    </button>
    <button
      *ngIf="canEdit && isAuthenticated"
      class="comment-container__actions-action blue-dark"
      (click)="onSetCurrentComment({id: comment.id, type: currentCommentType.edit})"
    >
      Edit
    </button>
    <!-- <button
      *ngIf="canDelete && isAuthenticated && comment.replies.length == 0"
      class="comment-container__actions-action"
      (click)="onDeleteComment(comment.id)"
    >
      Delete
    </button> -->
  </div>

  <comment-form
    *ngIf="isEdit()"
    [hasCancelButton]="true"
    [defaultText]="comment.text"
    (handleSubmit)="onUpdateComment($event.text, $event.formData, comment.id)"
    (handleCancel)="onCancelComment()"
  >
  </comment-form>

  <comment-form
    *ngIf="isReply()"
    [hasCancelButton]="true"
    (handleSubmit)="onAddComment($event.text, null)"
    (handleCancel)="onCancelComment()"
  >
  </comment-form>

  <div class="reply-container">
    <comment-item
      *ngFor="let reply of comment.replies"
      [comment]="reply"
      [currentComment]="currentComment"
      (setCurrentComment)="onSetCurrentComment($event)"
      (addComment)="addComment.emit($event)"
      (updateComment)="onUpdateComment($event.text, $event.formData, reply.id)"
      (deleteComment)="onDeleteComment(reply.id)"
    >
    </comment-item>
  </div>
</div>


