@import 'variables';

.paging-container{
  text-align: center;
}

.paging-number{
  display: inline-block;
  font-size: $font-size-default;
  width: 2rem;
}

.paging-arrow{
  display: inline-block;
  font-size: $font-size-default;
  width: 2rem;
  cursor: pointer;
}

