@import 'variables';

.form-container{
  width: 100%;
  margin-top: 2rem;

  &__editor{
    width: 100%;
  }

  &__file-input{
    & > input{
      font-size: $font-size-small;
      padding: .5rem;
    }
  }

  &__action-buttons{
    display: flex;
    justify-content: space-between;
  }

  &__submit-btn,
  &__cancel-btn{
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: $font-size-default;
  }

  &__captcha{
    margin: 2rem;
  }

  &__errors{
    font-size: $font-size-small;
    color: $color-red;
  }
}

.orange{
  background-color: $color-orange;
  color: $color-white;
}

.red{
  background-color: $color-red;
  color: $color-white;
}
