<form
  class="form-container"
  [formGroup]="commentForm"
  (ngSubmit)="onSubmit()"
>
  <quill-editor
    formControlName="text"
    class="form-container__text"
    [modules]="editorConfig"
    (onContentChanged)="onEditorContentChange($event)"
  >
  </quill-editor>

  <div class="form-container__action-buttons">
    <button
      class="form-container__submit-btn"
      type="submit"
    >Submit</button>
    <button
      class="form-container__cancel-btn"
      type="button"
      (click)="onCancel()"
    >Cancel</button>
  </div>

</form>
