@import 'variables';

.form-container{
  width: 100%;

  &__text{
    resize: none;
    width: 100%;
    padding: 1rem;
    font-size: $font-size-default;
  }

  &__submit-btn{
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: $font-size-default;
  }
}
