<form
  class="form-container"
  [formGroup]="commentForm"
  (ngSubmit)="onSubmit()"
>
  <quill-editor
    formControlName="text"
    class="form-container__editor"
    [modules]="editorConfig"
    (onContentChanged)="onEditorContentChange($event)"
    [placeholder]="'Type here...'"
    [(ngModel)]="defaultText"
  >
  </quill-editor>

  <div class="form-container__file-input">
    <input
      type="file"
      #fileInput
      accept="image/jpeg, image/gif, image/png, .txt"
      (change)="onAttachFile(fileInput.files)">
  </div>

  <div
    *ngIf="error"
    class="form-container__errors"
  >
    <p>{{errorMessage}}</p>
  </div>

  <re-captcha
    class="form-container__captcha"
    (resolved)="resolved($event)"
    siteKey="6Le_JcAkAAAAAKJrYCzKe3Ure2nonyQdKmyHn2jy"
  ></re-captcha>

  <div class="form-container__action-buttons">
    <button
      class="form-container__submit-btn orange"
      type="submit"
      [disabled]="!captcha"
    >
      Submit
    </button>
    <button
      *ngIf="hasCancelButton"
      class="form-container__cancel-btn red"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>

</form>
